
@font-face{ 
	font-family: 'epilogue2';
	src: url('Epilogue-Regular2.ttf') format('truetype')
}
.test-open-sans {
    font-family: 'Open Sans';
    font-size: 80px;
    border: 1px solid red;
    color: gray
}

.test-epilogue {
    font-family: 'epilogue2';
    font-size: 80px;
    border: 1px solid red;
    color: navy
}

.flex {
  display: flex;
  align-items: center;
}


.tf-text {
  border: 1px solid green;  
}

.fal {
  border: 1px solid blue; 
}

.line-through {
  text-decoration: line-through
}
